.form-horizontal .textcaptcha label {
	text-align: right;
}

.form-horizontal .textcaptcha .textcaptcha-q {
	margin-left: 10px;
	font-weight: normal;
	text-align: left;
}

.form-horizontal .textcaptcha-q:after {
	content: '';
}